html,body{
    max-height: 100%;
    max-width: 100%;
    
}


#Video-Display{
    position:absolute;
    left:0%;
    z-index: -10;
    top: 41px;
    height: 315px;
    width: 560px;
    margin: 0;
    padding: 0;
}

#Location-map
{
    position: absolute;
    left: 0%;
    top: 41px;
    height: 94%;
    width: 100%;
    z-index: 0;
    margin: 0;
    
}

#fuck_off{
  position: absolute;
  z-index: 20;
  left:530px;
  top:40px;

}
@media (max-width: 480px) {

    #Video-Display{
        max-width:100%;
        max-height: 40%;
        
        
    }
    #fuck_off{
      /*margin-left: 5px;*/
      left:90%;  
    }

}

/*@media (max-width: 559px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}*/