<!DOCTYPE html>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw" lang="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title>Map</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link href="{{ url_for('static', filename='style-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='submenu.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='csmapi.js') }}"></script>
    <script src="{{ url_for('static', filename='dan.js') }}"></script>
    <script src="{{ url_for('static', filename='dai.js') }}"></script>
    <script src="{{ url_for('static', filename='var_define_list.js') }}"></script>
    <script src="{{ url_for('static', filename='dai-app-admin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='map-icons.js') }}"></script> 
    <script type=text/javascript src="{{ url_for('static', filename='jquery.datetimepicker.full.min.js') }}"></script>
    <!-- Bootstrap -->
    <script href="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Optional theme -->
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT1MkhTlOJjKg1NLqb0yyD_0o3Q6_-dr8&libraries=places&language=en"></script><!-- AIzaSyCT1MkhTlOJjKg1NLqb0yyD_0o3Q6_-dr8 -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>


  </head>
  <!-- <body>
    
   
    <div id="Location-map"></div>
    <div id="videoBox">
      <button  id="fuck_off">close</button>
      <iframe id = "Video-Display" width="420" height="236" src="" frameborder="0" allowfullscreen></iframe>       
     
    </div>
    
    <div id="static">
      <button class="button_s" id="button_s1">取消</button>
      <button class="button_s" id="button_s2">路障</button>
      <button class="button_s" id="button_s3">攝影機</button>
      <button class="button_s" id="button_s4">歷史紀錄</button>
      <button class="button_s" id="button_s5">路徑規劃</button>
    </div>
    
    <div id="dynamic">
      <button class="button_d" id="button_d1">狗</button>
      
    </div>
    
    <ul>
      <li class="function" id="function_but">Function</li>
        <ul>
          <li class="button_sm" id="button_sm2"><a>路障</a>
            <ul>
              <li class="button" id="ob_add"><a>Add</a></li>
              <li class="button" id="ob_upd"><a>Update</a></li>
              <li class="button" id="ob_rm"><a>Remove</a></li>
              </ul>
            </li>
            <li class="button_sm" id="button_sm3"><a>攝影機</a>
              <ul>
                <li class="button" id="cam_add"><a>Add</a></li>
                <li class="button" id="cam_upd"><a>Update</a></li>
                <li class="button" id="cam_rm" ><a>Remove</a></li>
              </ul>
          </li>
        </ul>
    </ul>
    
  </body> -->

<header>

    <ul id="list" class="nav nav-pills">
      <!-- <li role="presentation" class="dropdown" class="active" > -->
      <!--   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          功能 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li id="button_s5" style="cursor:pointer"><a>路徑規劃</a></li>
          <li id="cam_add" style="cursor:pointer"><a>新增攝影機</a></li>
          <li id="ob_add" style="cursor:pointer"><a>新增路障</a></li>
        </ul>
      </li> -->
      <!-- <li id="app" style="cursor:pointer;"><a><b>App</b></a>
        <ul class="dropdown-menu" id="app_list" style="min-width: 130px;display: none;">
          <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='app_add' value='123'>Add App</button></li>
        </ul>
      </li>  -->

      <li id="app" role="presentation" class="menu-item dropdown" class="active">
        <!-- <a id="app" style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>App</b></a> -->
        <a id="app_btn" style="cursor:pointer;" data-target="#MainMenu" data-toggle="collapse" type="button" aria-expanded="false"><b>App</b></a>
        <!--<ul class="dropdown-menu" id="app_list" style="min-width: 130px;">
          <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='app_add'>Add App</button></li>
  
           每個app要動態加這些
          <li class="menu-item dropdown dropdown-submenu" style="display: none;">
              <button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="dropdown-toggle history btn btn-outline-primary" id='app_add' data-toggle="dropdown">test2</button>
              <ul class="dropdown-menu" style="min-width: 140px;">
                  <li class="menu-item" style="cursor:pointer;min-width: 140px;" ><button type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='app_add'>Add test_object</button></li>
              </ul>
          </li>

                    
        </ul> -->
      </li>

      <!-- <li role="presentation" id="cam_add" style="cursor:pointer"><a>Camera</a></li>
      <li role="presentation" id="ob_add" style="cursor:pointer"><a>Obstacle</a></li> -->

      <li id="123" role="presentation" class="dropdown" class="active" style="">
        <a id="123_dropdown" style="cursor:pointer;color:#fff;background:#5cb85c;display: none" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" > P:ParkingLot <span class="caret"></span></a>
      <ul class="dropdown-menu" id="Parking lot list" style="min-width: 130px;">
        <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #5cb85c; width:138px; color:#fff" class="history btn btn-outline-primary" id='123' value='123'>0:NCTU-P1</button></li>
        <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='123' value='123'>Add ParkingLot</button></li>
        <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='Modify-app' value='123'>Modify Application</button></li>
        <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='123' value='123'>Delete Application</button></li>
      </ul></li>
   
      <div class="modal fade" id="Picture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <label  class="col-sm-4 col-4 col-xl-4">Picture URL</label>
              <input id="picture_URL" class="form-control" placeholder="Input picture URL">
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button> -->
              <!-- <input type="submit" value="Location Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">
              <input type="submit" value="Value Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;"> -->
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">Enter</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">Cancel</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Color" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <label  class="col-sm-4 col-4 col-xl-4">Min</label>
              <input id="color_min" class="form-control">
              <br>
              <label  class="col-sm-4 col-4 col-xl-4">Max</label>
              <input id="color_max" class="form-control">
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button> -->
              <!-- <input type="submit" value="Location Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">
              <input type="submit" value="Value Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;"> -->
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">Enter</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">Cancel</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <!-- <li role="presentation" id="button_route" style="cursor:pointer"><a id="text">路徑規劃</a></li> -->

      
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <form method="post" id="history_trace" style="font-size:18px;">
              <label class="radio-inline" >
                <input type="radio" name="optradio" id="inlineRadio1" value="active_marker" style="height: 18px; width: 18px;" checked > &nbsp;當前位置
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio2" value="recent_hour" style="height: 18px; width: 18px;"> &nbsp;最近一小時
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio3" value="recent_day" style="height: 18px; width: 18px;"> &nbsp;最近一天
              </label>
            </div>
            <div class="modal-footer">
              <input type="submit" value="確認" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">
            </div>
          </form>
          </div>
        </div>
      </div> -->
      

  <!--     <li role="presentation" class="disabled" id="dog" style="cursor:pointer"><a>狗</a></li> -->
      <!-- <li id="dog" role="presentation" class="dropdown disabled" class="active">
        <a id="dog_dropdown" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false" >
          狗 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="dog-list"> -->
<!--           <li id="button_d1" style="cursor:pointer"><a>狗1</a></li>
          <li id="cam_add" style="cursor:pointer"><a>狗2</a></li>
          <li id="ob_add" style="cursor:pointer"><a>狗3</a></li> -->
        </ul>

  </header>
  <body>
  <div id="icon_form" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-2 col-2 col-xl-2">Name</label>
            <div class="col-sm-10 col-10 col-xl-10">
              <input id="icon_name" class="form-control">
            </div>
            <br>
          </div>
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-3 col-3 col-xl-3">Location</label>
            <div class="col-sm-9 col-9 col-xl-9">
              <input id="icon_loc" class="form-control" style="width: 220px">
            </div>
            <br>
          </div>
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4" id="desc">Description</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="icon_desc" class="form-control">

            </div>
          </div>
          <div id="url_form" class="form-group " style="margin-bottom: 5px; display: none;">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4" id="url">URL</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="icon_url" class="form-control">

            </div>
          </div>
          <button type="submit" id="icon_cancel" class="btn pull-right btn-default" style="margin: 5px">Cancel</button>
          <button type="submit" id="icon_del" class="btn pull-right btn-default" style="margin: 5px">Delete</button>
          <button type="submit" id="icon_save" class="btn pull-right btn-default" style="margin: 5px">Save</button>
          </div>

  </div>

  <div id="app_form" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Name</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="app_name" class="form-control" placeholder="application name">
            </div>
            <!-- <br><div style="height:5px;"> &nbsp; </div> -->
          </div>
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Mobility</label>
            <div class="col-sm-8 col-8 col-xl-8" style="color:#000000">
              <select class="custom-select" id="app_mobility_select">
                <option selected value ="Stationary" id="Stationary">Stationary</option>
                <option value ="Movable" id="Movable">Movable</option>
              </select>
            </div>
            <!-- <br><div style="height:5px;"> &nbsp; </div> -->
          </div>
          <div class="form-group " style="margin-bottom: 5px;">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Icon</label>
            <div class="col-sm-8 col-8 col-xl-8" style="color:#000000">
              <select class="custom-select" id="app_icon_select">
                <option value ="Picture">Picture</option>
                <option selected value ="NoLetter">No Letter</option>
              </select>
            </div>
            <!-- <br><div style="height:5px;"> &nbsp; </div> -->
          </div>
          <!-- <div id="Picture" class="form-group" style="margin-bottom: 5px;display:none;">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Picture</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="add_name" class="form-control" placeholder="Input picture URL">
            </div>
            <br><div style="height:5px;"> &nbsp; </div>
          </div> -->
          <div id="Visual" class="form-group" style="margin-bottom: 5px;display:none;">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Visual</label>
            <div class="col-sm-8 col-8 col-xl-8" style="color:#000000">
              <select class="custom-select" id="app_visual_select">
                <option selected value ="Text">Text</option>
                <option value ="Color">Color</option>
              </select>
            </div>
            <!-- <br><div style="height:5px;"> &nbsp; </div> -->
          </div>
          <!-- <div id="Color" class="form-group" style="margin-bottom: 5px;display:none;">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-2 col-2 col-xl-2">Color</label>
            <div class="col-sm-10 col-10 col-xl-10">
              <input id="add_name" class="col-sm-2 col-2 col-xl-2" placeholder="Min" style="color:#000000;margin-right:5px;">
              <div id="grad1" class="col-sm-5 col-5 col-xl-5"></div>
              <input id="add_name" class="col-sm-2 col-2 col-xl-2" placeholder="Max" style="color:#000000;margin-left:5px;">
            </div>
            <br><div style="height:5px;"> &nbsp; </div>
          </div> -->
          <div id="Quick_Access" class="form-group" style="margin-bottom: 5px;">
            <div style="height:5px;"> &nbsp; </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="Quick_Access_decide">
              <label class="form-check-label" for="Quick_Access_decide">
                Quick Access
              </label>
            </div>
            <!-- <div class="col-sm-12 col-12 col-xl-12">
              <input type="checkbox" id="Quick_Access_decide" name="Quick_Access_decide" value="1" style="margin-right:5px;">Quick Access
            </div> -->
            <!-- <br><div style="height:5px;"> &nbsp; </div> -->
          </div>
          <button type="submit" id="app_cancel" class="btn pull-right btn-default" style="margin: 5px">Cancel</button>
          <button type="submit" id="app_del" class="btn pull-right btn-default" style="margin: 5px">Delete</button>
          <button type="submit" id="app_save" class="btn pull-right btn-default" style="margin: 5px">Save</button>


          
      </div>

      

  </div>


  <div id="add-camera" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">URL</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="add_url" class="form-control" placeholder="URL resource">

            </div>
            <br>
          </div>
      </div>

      <button type="submit" id="cam_cancel" class="btn pull-right btn-primary" style="margin: 15px">Cancel</button>
      <button type="submit" id="cam_in" class="btn pull-right btn-primary" style="margin: 15px">Add</button>

  </div>

  <div id="add-obstacle" style="display: none;" >
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Instruction</label>
            <div class="col-sm-8 col-8 col-xl-8">
              <input id="add_content" class="form-control" placeholder="Input instruction">

            </div>
            <br>
          </div>
      </div>

      <button type="submit" id="ob_cancel" class="btn pull-right btn-primary" style="margin: 15px">Cancel</button>
      <button type="submit" id="ob_in" class="btn pull-right btn-primary" style="margin: 15px">Add</button>

  </div>

  <div id="delete-appobject" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-2 col-2 col-xl-2">Name</label>
            <div class="col-sm-10 col-10 col-xl-10">
              <input id="add_url" class="form-control">
            </div>
            <br>
          </div>
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-2 col-2 col-xl-2">Location</label>
            <div class="col-sm-10 col-10 col-xl-10">
              <input id="add_url" class="form-control" style="width: 250px">
            </div>
            <br>
          </div>
      </div>

      <button type="submit" id="cam_cancel_2" class="btn pull-right btn-primary" style="margin: 15px">Cancel</button>
      <button type="submit" id="cam_del" class="btn pull-right btn-primary" style="margin: 15px">Delete</button>
      <button type="submit" id="cam_info" class="btn pull-right btn-primary" style="margin: 15px">Modify</button>

  </div>

  <div id="delete-camera" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">URL</label>
            <div class="col-sm-8 col-8 col-xl-8">

              <input id="new_url" class="form-control" placeholder="URL resource">

            </div>
            <br>
          </div>
      </div>

      <button type="submit" id="cam_cancel_2" class="btn pull-right btn-primary" style="margin: 15px">Cancel</button>
      <button type="submit" id="cam_del" class="btn pull-right btn-primary" style="margin: 15px">Delete</button>
      <button type="submit" id="cam_info" class="btn pull-right btn-primary" style="margin: 15px">Modify</button>

  </div>

  <div id="delete-obstacle" style="display: none;">
      <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
          <div class="form-group " style="margin-bottom: 5px">
            <div style="height:5px;"> &nbsp; </div>
            <label  class="col-sm-4 col-4 col-xl-4">Instruction</label>
            <div class="col-sm-8 col-8 col-xl-8">

              <input id="new_info" class="form-control" placeholder="Input instruction">

            </div>
            <br>
          </div>
      </div>

      <button type="submit" id="ob_cancel_2" class="btn pull-right btn-primary" style="margin: 15px">Cancel</button>
      <button type="submit" id="ob_del" class="btn pull-right btn-primary" style="margin: 15px">Delete</button>
      <button type="submit" id="ob_info" class="btn pull-right btn-primary" style="margin: 15px">Modify</button>

  </div>

    <div id="snackbar"></div>

    <div id="Location-map">  </div>
      <button style="display: none;" id="fuck_off" class="btn btn-default">X</button>

  <!-- <div class="container" id="wrapper" overflow="hidden" >
      <img src=""  id = "Video-Display" class="shrinkToFit" width="495" height="278" style="display: none;">
  </div> -->  

  <div id="MainMenu" class="collapse fix-content">
    <div class="list-group panel" id="app_list">
      <button type="button" style="cursor:default;background-color:#fff; min-width:138px; color:#555" class="list-group-item history btn btn-outline-primary" data-toggle="collapse" data-parent="#MainMenu" id="app_add">Add App</button>
      <!-- 每個app要動態加這些 -->
        <button type="button" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu" data-target="#i_list" style="display: none;">Camera  <span class="caret"></span></button>
        <div class="collapse" id="i_list">
          <button type="button" class="list-group-item" id="icon_num">Subitem 111111111111111111111111</button>
          <button type="button" class="list-group-item">Subitem 2222222222222222222</button>
          <button type="button" class="list-group-item">Subitem 3333333</button>
        </div>
    </div>
  </div>     
        
  </body>
</html>