<!DOCTYPE html>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw" lang="zh-tw">
<meta name="viewport" content="width=device-width initial-scale=0.9 maximum-scale=1.0 user-scalable=yes" charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title>Map</title>        
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highchart/highcharts.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highchart/exporting.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
    <!-- <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script> -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='submenu.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='csmapi.js') }}"></script>
    <script src="{{ url_for('static', filename='dan.js') }}"></script>
    <script src="{{ url_for('static', filename='dai.js') }}"></script>
    <script src="{{ url_for('static', filename='var_define_list.js') }}"></script>
    <script src="{{ url_for('static', filename='dai-app.js') }}"></script>
    <script src="{{ url_for('static', filename='tracking/tracking.js') }}"></script>
    <script src="{{ url_for('static', filename='tracking/iottalk-api.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='img/history_start_icon.png') }}"></script> -->
    <!-- <script type=text/javascript src="{{ url_for('static', filename='jquery.datetimepicker.full.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Optional theme -->
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

        
    <!-- Latest compiled and minified JavaScript -->
    <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmxYxSjgGUbtvoIaMNJBgaETC5lbDkp-4&libraries=places&language=en"></script>
    <!-- <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJZnblGUcntIKP4Cn0TZv5UzBN4xDSB0"></script> --><!-- AIzaSyCT1MkhTlOJjKg1NLqb0yyD_0o3Q6_-dr8 -->
    <script type="text/javascript" src="{{ url_for('static', filename='map-icons.js') }}"></script> 

    <!-- <link href="{{ url_for('static', filename='bootstrap-combined.min.css') }}"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"> -->
    

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>

     function resizeIframe(time, obj) {
      var oldIframeHeight = $('#Video-Display')[0].contentWindow.document.body.childNodes[1].childNodes[1].scrollHeight;
      setTimeout(function(){
        var iframeHeight = $('#Video-Display')[0].contentWindow.document.body.childNodes[1].childNodes[1].scrollHeight;
        if(iframeHeight < oldIframeHeight && iframeHeight > 0)
        {
          obj.style.height = iframeHeight + 'px';
          console.log("iframeHeight",iframeHeight);
          console.log("obj.style.height", obj.style.height);
        }
        else if(iframeHeight == 0)
        {
          return;
        }
        else
        {
          resizeIframe(time, obj);
          console.log("resizeIframe");
        }
      }, time);
    }
    </script>


  </head>
  <!-- <body>
    
   
    <div id="Location-map"></div>
    <div id="videoBox">
      <button  id="fuck_off">close</button>
      <iframe id = "Video-Display" width="420" height="236" src="" frameborder="0" allowfullscreen></iframe>       
     
    </div>
    
    <div id="static">
      <button class="button_s" id="button_s1">取消</button>
      <button class="button_s" id="button_s2">路障</button>
      <button class="button_s" id="button_s3">攝影機</button>
      <button class="button_s" id="button_s4">歷史紀錄</button>
      <button class="button_s" id="button_s5">路徑規劃</button>
    </div>
    
    <div id="dynamic">
      <button class="button_d" id="button_d1">狗</button>
      
    </div>
    
    <ul>
      <li class="function" id="function_but">Function</li>
        <ul>
          <li class="button_sm" id="button_sm2"><a>路障</a>
            <ul>
              <li class="button" id="ob_add"><a>Add</a></li>
              <li class="button" id="ob_upd"><a>Update</a></li>
              <li class="button" id="ob_rm"><a>Remove</a></li>
              </ul>
            </li>
            <li class="button_sm" id="button_sm3"><a>攝影機</a>
              <ul>
                <li class="button" id="cam_add"><a>Add</a></li>
                <li class="button" id="cam_upd"><a>Update</a></li>
                <li class="button" id="cam_rm" ><a>Remove</a></li>
              </ul>
          </li>
        </ul>
    </ul>
    
  </body> -->

<header>
    <ul id="list" class="nav nav-pills ">
      <li role="presentation" class="dropdown" class="active">
      <!--   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          功能 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li id="button_s5" style="cursor:pointer"><a>路徑規劃</a></li>
          <li id="cam_add" style="cursor:pointer"><a>新增攝影機</a></li>
          <li id="ob_add" style="cursor:pointer"><a>新增路障</a></li>
        </ul>
      </li> -->
      <li id="app" role="presentation" class="menu-item dropdown" class="active">
        <!-- <a id="app" style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>App</b></a> -->
        <a id="app" style="min-width:68px;text-align:center;cursor:pointer;" data-target="#MainMenu" data-toggle="collapse" type="button" aria-expanded="false"><b>App</b></a>
        <!-- <ul class="dropdown-menu" id="app_list" style="min-width: 130px;">
          <li style="cursor:pointer;min-width: 140px;" ><button  type="button" style="border-color:white ;background-color:  #eee; width:138px; color:#337ab7" class="history btn btn-outline-primary" id='app_add'>Add App</button></li>
  
          每個app要動態加這些
          <li class="menu-item dropdown dropdown-submenu" style="display: none">
              <button  type="button" style="border-color:white ;background-color:  #eee; min-width:138px; color:#337ab7" class="dropdown-toggle history btn btn-outline-primary" id='app_add' data-toggle="dropdown">test2</button>
              <ul class="dropdown-menu" style="min-width: 140px;">
                  <li class="menu-item" style="cursor:pointer;min-width: 140px;" ><button type="button" style="border-color:white ;background-color:  #eee; min-width:138px; width: auto; color:#337ab7" class="history btn btn-outline-primary" id='app_add'>show all</button></li>
                  <li class="menu-item" style="cursor:pointer;min-width: 140px;" ><button type="button" style="background-repeat: no-repeat;background-position: center center; border-color:white ;background-color:  #eee; min-width:138px; color:#337ab7" class="history btn btn-outline-primary" id='app_add'>Add*********************************</button></li>
              </ul>
          </li>

                    
        </ul> -->
      </li>

      <!-- <li role="presentation" class="active" id="button_s3" style="cursor:pointer" ><a>Camera</a></li>
      <li role="presentation" class="active" id="button_s2" style="cursor:pointer"><a>Obstacle</a></li> -->
      <li role="presentation" id="button_route" style="cursor:pointer;"><a id="text">Routing</a></li>
      
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <form method="post" id="history_trace" style="font-size:18px;">
              <label class="radio-inline" >
                <input type="radio" name="optradio" id="inlineRadio1" value="0" style="height: 18px; width: 18px;" checked > &nbsp;Current
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio2" value="1" style="height: 18px; width: 18px;"> &nbsp;Last Minute
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio3" value="2" style="height: 18px; width: 18px;"> &nbsp;Last Hour
              </label>

            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button> -->
              <!-- <input type="submit" value="Location Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">
              <input type="submit" value="Value Change" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;"> -->
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="loc_history" style="font-size:18px;">Enter</button><!-- Location Change -->
              <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" id="val_history" style="font-size:18px;">Value Change</button> -->
            </div>
          </form>
          </div>
        </div>
      </div>
      

  <!--     <li role="presentation" class="disabled" id="dog" style="cursor:pointer"><a>狗</a></li> -->
      <!-- <li id="dog" role="presentation" class="dropdown" class="active">
        <a id="dog_dropdown" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false" >
          mark <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="dog-list"> -->
<!--           <li id="button_d1" style="cursor:pointer"><a>狗1</a></li>
          <li id="cam_add" style="cursor:pointer"><a>狗2</a></li>
          <li id="ob_add" style="cursor:pointer"><a>狗3</a></li> -->
        <!-- </ul>
      </li> -->
      </li>
    </ul>
  </header>
  <body>

    <div id="input_destination" style="display:none">
  <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
      <div class="form-group " style="margin-bottom: 0px">
        <div style="height:5px;"> &nbsp; </div>
        <label  class="col-sm-3 col-3 col-xl-3">Starting Point</label>
        <div class="col-sm-9 col-9 col-xl-9">
          <!-- <input readonly disabled class="form-control" placeholder="現在位置"> -->
          <input id="autocomplete2" type="text" class="form-control controls"  placeholder="Current Location">
        </div>
        <div style="height:5px;"> &nbsp; </div>
      </div>
  </div>

  <div class="bg-primary form-inline" style="margin-bottom: 0px">
      <div class="form-group " style="margin-bottom: 0px">
        <label  class="col-sm-3 col-3 col-xl-3">Destination</label>
        <div class="col-sm-9 col-9 col-xl-9">
          <input  id="autocomplete" type="text" class="form-control controls"  placeholder="Choose Destination">
        </div>
      </div>
      <br>
      
      <button type="submit" id="button_s5" class="btn pull-right btn-primary" style="margin: 15px">Start Routing</button>
  </div>
  </div>
    <div id="snackbar"></div>

  <div id="Location-map">  </div>
  <!-- <div id="flot-placeholder"> </div> -->
  <div id="highchart" style="display: none"> </div>
  <button style="display: none;" id="fuck_off" class="btn btn-default">X</button>
  <div id="color_scale"> </div>
  <div id="my_location" style="display: none"><button id="get_current_location_btn" class="btn btn-default"><i class="material-icons" style="font-size:24px">my_location</i></button></div>
  <div class="container" id="wrapper" overflow="hidden" >
      <!-- <img src=""  id = "Video-Display" class="shrinkToFit" width="495" height="278" style="display: none;"> -->
      <iframe src="{{ url_for('static', filename='map-cam/index-col-sm.html') }}" id = "Video-Display" frameborder="0" scrolling="no" allowfullscreen="true" style="display: none;" marginheight="0" marginwidth="0" align="center" onload="resizeIframe(1000, this)"></iframe>
  </div> 

  <div id="MainMenu" class="collapse fix-content">
    <div class="list-group panel" id="app_list">
      <!-- 每個app要動態加這些 -->
        <button type="button" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu" data-target="#i_list" style="display: none;">Camera  <span class="caret"></span></button>
        <div class="collapse" id="i_list">
          <button type="button" class="list-group-item" id="icon_num">Subitem 111111111111111111111111</button>
          <button type="button" class="list-group-item">Subitem 2222222222222222222</button>
          <button type="button" class="list-group-item">Subitem 3333333</button>
        </div>
    </div>
  </div>       
        
  </body>
</html>